//=== COLORS ===
$primary-color: #141414;
$secondary-color:#f55b23;
$light-color:#e0693e;
$txt-color:white;

//=== FONT ===
$base-font-size:1.1rem;

//=== SPACING ===
$base-padding:3vw;
$base-margin:4vh;
$base-border-radius:20px;